.Footer {
    
    background-color: #171718;
    color: #FFFFFF;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 20px;
    font-size: large;
        
    


}

h4 {
    color: #47D16E;
}

a {
    color: white;
    text-decoration: none;
}
.Footer div {
    padding-top: 10px;
    align-items: center;
    
   
    
}