.container-habilidades {
    width: 800px;
}

.Habilidades {
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
}

.Habilidades h1 {
  margin-bottom: 35px;
  color: #47d16e;
  font-size: 30px;
}

.HabilidadesDescripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px;
}

/*Dando formato a cada elemento de la caja*/

.HabilidadesDescripcion div {
  background-color: #1f1f21;
  border-radius: 25px;
  line-height: 1.5;
}

.HabilidadesDescripcion div h3 {
  font-size: 25px;
  color: white;
  font-family: "DM Sans";
  text-align: center;
}

.HabilidadesDescripcion div p {
  font-size: 22px;
  font-family: "DM Sans";
  margin-left: 10px;
  margin-right: 10px;
}

.HabilidadesDescripcion div figure {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

/*Responsive*/
@media (max-width: 799px) {
    .container-habilidades {
        width: 100%;
    }

    .Habilidades {
        width: 100%;
        padding: 0px;
    }
}
