body {
    padding: 0;
    margin: 0;
    background-color:#272728;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

#root {
    
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que #root ocupe el espacio restante */
    justify-content: space-between;
    width: 100%;
}