/*
Estos estilos estan para el allheaders de la carpeta General
*/


.AllHeaders {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #171718;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
}

.container-header {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.container-links a {
  margin: 10px;
}

.container-header a {
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

.container-header button {
    color: #FFFFFF;
    background-color: #47D16E;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: large;

}

.container-header .activate {
    text-decoration: underline;
}



@media screen and (max-width: 799px) {
  .AllHeaders {
    padding: 0px;
  }
    .container-header {
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0px;
      padding: 0px;
    }
  
    .container-header a {
      display: block;
      margin: 10px 0;
    }
    
    .container-header button {
      display: block;
      margin: 10px auto;
    }
    .container-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }