.container-proyectos {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Proyectos {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.Proyectos h1 {
    margin-bottom: 35px;
    color: #47D16E;
    font-size: 35px;
}

/*Dando formatos a las tarjetas*/

.Tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    margin: 10px;
}

.Tarjetas div {
    background-color: #1F1F21;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    line-height: 1.5;
    transition: transform 0.5s ease;
    padding: 25px;
}

.Tarjetas div:hover {
  transform: scale(1.1);
}

.Tarjetas div h3 {
    font-size: 30px;
    color: #47D16E;
    font-family: "DM Sans";
    margin: 0px 10px 10px 10px;
}

.Tarjetas div p {
    font-size: 25px;
    font-family: "DM Sans";
    margin: 0px 10px 0px 10px;
}

.Tarjetas div figure {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.Proyectos .github {
    background-color: white;
    border-radius: 80px;
}

@media screen and (max-width: 799px) {
    .container-proyectos {
        padding-top: 280px;
    }
}