.container-proyectos {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Proyectos {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.Proyectos h1 {
    margin-bottom: 35px;
    color: #47D16E;
    font-size: 45px;
}

/*Dando formatos a las tarjetas*/

.Tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr)); /* 2 columnas con un ancho mínimo de 200px */
}

.Tarjetas div {
    
    background-color: #1F1F21;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    line-height: 1.5;
    transition: transform 0.5s ease;
    padding: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 1);
    height: auto;
    
}

.Tarjetas div:hover {
  transform: scale(1.1);
}

.Tarjetas div h3 {
    font-size: 35px;
    color: #47D16E;
    font-family: 'Playfair Display', serif;
    margin: 0px 10px 10px 10px;
}

.Tarjetas div p {

    font-size: 25px;
    font-family: 'Roboto';
    margin: 10px 10px 0px 10px;
    height: 100%;
}

.img-preview {
    margin: 10px 30px 10px 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-preview .img-deploy {
    margin: 0px;
    width: 92%;
    height: 180px;
    opacity: 0.10;
    border-radius: 35px;
    transition: opacity 0.3s ease-in-out; 
}

.img-preview .img-deploy:hover {
    opacity: 1; 
}


.Tarjetas div .links {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.Proyectos .github {
    background-color: white;
    border-radius: 80px;
}

@media screen and (max-width: 799px) {
    .container-proyectos {
        padding-top: 280px;
    }
    .Tarjetas{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .Tarjetas div {
        height: auto;
    }

    .Tarjetas div p {
        height: auto;
    }

}